body { padding-bottom: 70px; }

.navbar-blue{
	background-color: #fff;
	color: #3572b0;
}

.footer{
	color: #707070;
}

.block {
	background-color:rgba(0,0,0,0.5);
    height:100%;
    width:100%;
  	padding: 10px 10px 10px 10px;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 40px;        
}

h4,h3{
	display:inline;
	vertical-align: top;
}

.table{margin-bottom:0px;}

.iconimg{
	min-height: 40px;
	min-width: 40px;
	max-height: 40px;
	max-width: 40px;
	padding-right: 2px;
}

table .nolines tr td{
	border: none;
}
